@model IEnumerable<Đồ_án_web_quản_lí_phòng_trọ.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .action-buttons button {
        background: none;
        border: none;
        color: #428bca;
        cursor: pointer;
        padding: 0;
        margin-right: 10px;
    }

        .action-buttons button:hover {
            text-decoration: underline;
        }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>Hành Động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td class="action-buttons">
                <button>@Html.ActionLink("Edit", "Edit", new { id = item.MaTaiKhoan })</button>
                <button>@Html.ActionLink("Details", "Details", new { id = item.MaTaiKhoan })</button>
                <button>@Html.ActionLink("Delete", "Delete", new { id = item.MaTaiKhoan })</button>
            </td>
        </tr>
    }

</table>
