<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/CSS/animate.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css?=v1" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="~/Content/CSS/header.css?v=2" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #navbar-quanly {
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px;
            background-color: #D9D9D9;
            width: auto;
            box-shadow: 2px 2px 4px #808080;
            margin-top: 30px;
        }

        .header-left a {
            margin-left: 1500px;
            text-align: center;
            margin-top: 10px;
            color: white;
            width: fit-content;
            height: 30px;
            text-decoration: none;
            font-size: 20px;
        }

            .header-left a:hover {
                color: red;
            }


        .user-name {
            display: flex;
            text-align: center;
            color: white;
            font-family: 'Sitka Display';
            width: fit-content;
            height: 30px;
            text-decoration: none;
            font-size: 25px;
            margin-top: 10px;
        }

        .account {
            display: flex;
            text-align: center;
            color: white;
            font-family: 'Sitka Display';
            width: fit-content;
            height: 30px;
            text-decoration-color: #ffffff;
            font-size: 25px;
        }

        .menu {
            list-style: none;
        }

        .sub-menu {
            display: none;
            position: relative;
            top: 100%;
            left: 0;
            background-color: #D9D9D9;
            padding: 10px;
        }

            .sub-menu li {
                display: block;
                border-top: 1px solid black;
            }

                .sub-menu li a {
                    color: #333;
                }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="navbar-header">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div id="div-navbar-quanly">

                        <ul class="menu">
                            <li id="navbar-quanly">
                                <a class="sub-btn"> <img src="~/images/assignment_add.jpg" />Quản lý thống kê</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="~/ThongKe/ThongKeTongQuat">Thống kê Tổng Quát</a>
                                    </li>
                                    <li>
                                        <a href="~/PhieuThuTien/TongDoanhThu"> Xem doanh thu</a>
                                    </li>
                                    <li>
                                        <a href="~/ThongKe/ChuaThanhToan"> Chưa thanh toán</a>
                                    </li>
                                    <li>
                                        <a href="~/ThongKe/KhachHangThanThiet">Khách hàng thân thiết</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="navbar-quanly">
                                <a class="sub-btn" href="~/PhieuThueTraPhong/Index"> <img src="~/images/assignment_add.jpg" />Quản lý Thuê Trả Phòng</a>

                            </li>
                            <li id="navbar-quanly">
                                <a class="sub-btn" href="~/PhongTro/Index2"> <img src="~/images/assignment_add.jpg" />Quản lý phòng trọ</a>

                            </li>
                            <li id="navbar-quanly">
                                <a class="sub-btn" href="~/KhachHang/Index"> <img src="~/images/assignment_add.jpg" />Quản lý khách hàng</a>

                            </li>
                            <li id="navbar-quanly">
                                <a href="@Url.Action("LogOutUser","DangNhap")"><img src="~/images/logout.jpg" />Đăng xuất</a>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
            <span style="font-size:30px;cursor:pointer;margin-left:50px;" onclick="openNav()">&#9776; </span>
            <div class="container">
                <a class="navbar-brand" href="~/PhongTro/Index">GOAT</a>
                <div class="social-media order-lg-last">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Work</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="~/KhachHang/LienHe" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="social-media order-lg-last">

                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="user-name">Xin chào  @User.Identity.Name</p>

                        }
                        else
                        {
                            <a href="~/DangNhap/DangNhap" class=" align-items-center justify-content-center account"><img style="width:40px; height:40px;" src="~/images/account.png" />Đăng nhập</a>
                        }

                    </div>
            </div>
            
        </nav>
    </div> 
    <div class="container body-content">
       @RenderBody()
    </div>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
 
</body>
</html>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "325px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //jquery for toggle sub menus
        $('.sub-btn').click(function () {
            $(this).next('.sub-menu').slideToggle();
        });
    });
</script>




