@model Đồ_án_web_quản_lí_phòng_trọ.Models.KhachHang

@{
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
    }


    h2 {
        color: #333;
    }

    label {
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #337ab7;
        color: #fff;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #286090;
        }

    .back-link {
        background-color:darkgray;
        border-radius: 5px;
        margin-top: 20px;
        display: inline-block;
    }
</style>
<h2>EditProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>KhachHang</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaKhachHang)
        @Html.HiddenFor(model => model.MaTaiKhoan)
        <div class="form-group">
            @Html.LabelFor(model => model.TenKhachHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CCCD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="back-link btn btn-link">
    @Html.ActionLink("Trở về", "Index", "PhongTro")
</div>

